/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}


<script src="https://allensyd.us.kg/public/js/custom.js"></script>
<script type="text/javascript">
    $.shuicheMouse({
        type:10, 
        color:"rgba(187,67,128,1)"
    })
</script>
